footer {
  padding-top: 90px;
  padding-bottom: 100px;
  background: url("footer-backgr.jpg") center no-repeat;
  background-size: cover; }
  footer form input, footer form textarea {
    padding: 10px 0 10px 20px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
    color: #4e525d;
    background-color: #fff; }
    footer form input:focus, footer form textarea:focus {
      box-shadow: inset 0 0 1px 1px #49cbcd; }
  footer form ::-webkit-input-placeholder {
    color: #c1c1c1; }
  footer form :-moz-placeholder {
    color: #c1c1c1; }
  footer form ::-moz-placeholder {
    color: #c1c1c1; }
  footer form textarea, footer form button {
    float: right; }
  footer form input, footer form textarea, footer form button {
    display: block;
    font-family: 'Open-sans Regular';
    border-radius: 5px; }
  footer form button {
    padding: 10px 60px;
    font-size: 22px;
    color: #fff;
    background-color: #49cbcd;
    transition: all 0.5s ease-out; }
    footer form button:hover {
      cursor: pointer;
      color: #49cbcd;
      background-color: #fff;
      transition: all 0.5s ease-out; }
  footer form .form-item {
    position: relative; }
  footer form .has-error input, footer form .has-error textarea {
    box-shadow: inset 0 0 1px 1px #9c1212; }
  footer form .form-icon {
    position: absolute;
    right: 10px;
    top: 0; }
  footer form .form-icon:before {
    font-family: 'fontello';
    display: inline-block;
    font-size: 20px;
    line-height: 42px;
    font-variant: normal; }
  footer form .error:before {
    content: '\f12a';
    color: #9c1212; }

.footer-title {
  margin-bottom: 100px;
  text-align: center;
  font-size: 42px;
  color: #fff; }

.footer-contact {
  color: #909090; }
  .footer-contact h5 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff; }
  .footer-contact h5 + p {
    width: 80%; }

address, .footer-contact-tel {
  font-family: 'MyriadPro Regular';
  color: #bface2; }

address span {
  display: block; }

address .footer-contact-tel {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.footer-social-net {
  margin-top: 41px;
  margin-bottom: 17px; }
  .footer-social-net .social-icon {
    width: 42px;
    height: 42px;
    margin-right: 15px;
    border-radius: 50%; }
    .footer-social-net .social-icon a {
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: center; }
      .footer-social-net .social-icon a:before {
        font-family: 'fontello';
        display: inline-block;
        font-size: 20px;
        line-height: 45px;
        font-variant: normal;
        color: #ffffff; }
  .footer-social-net .facebook {
    background-color: #3b5997; }
    .footer-social-net .facebook a:before {
      content: '\e802'; }
  .footer-social-net .twitter {
    background-color: #3ec2f3; }
    .footer-social-net .twitter a:before {
      content: '\e800'; }
  .footer-social-net .google {
    background-color: #e44c41; }
    .footer-social-net .google a:before {
      content: '\e801'; }

* {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none; }

button {
  text-align: center; }

ul li {
  list-style: none;
  display: inline-block;
  float: left; }

a {
  text-decoration: none; }

img {
  vertical-align: bottom;
  border: none; }

header, footer, section, article, nav {
  display: block; }

@font-face {
  font-family: 'Open-sans Regular';
  src: url("../fonts/OpenSans/opensans-regular.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open-sans Semibold';
  src: url("../fonts/OpenSans/opensans-semibold.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/font/fontello.eot") format("eot"), url("../fonts/fontello/font/fontello.woff2") format("woff2"), url("../fonts/fontello/font/fontello.woff") format("woff"), url("../fonts/fontello/font/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Open-sans Regular';
  font-size: 14px; }

.clearfix:after, .row:after {
  content: '';
  display: table;
  clear: both; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem; }
  .row .s1, .row .s2, .row .s3, .row .s4, .row .s5, .row .s6, .row .s7, .row .s8, .row .s9, .row .s10, .row .s11, .row .s12 {
    width: 8.333333333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .s2 {
    width: 16.66666666666667%; }
  .row .s3 {
    width: 25%; }
  .row .s4 {
    width: 33.33333333333333%; }
  .row .s5 {
    width: 41.66666666666667%; }
  .row .s6 {
    width: 50%; }
  .row .s7 {
    width: 58.33333333333333%; }
  .row .s8 {
    width: 66.66666666666667%; }
  .row .s9 {
    width: 75%; }
  .row .s10 {
    width: 83.33333333333333%; }
  .row .s11 {
    width: 91.66666666666667%; }
  .row .s12 {
    width: 100%; }

@media only screen and (min-width: 601px) {
  /*.container {
    width: 85%;
  }*/
  .row .m1, .row .m2, .row .m3, .row .m4, .row .m5, .row .m6, .row .m7, .row .m8, .row .m9, .row .m10, .row .m11, .row .m12 {
    width: 8.333333333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .m2 {
    width: 16.66666666666667%; }
  .row .m3 {
    width: 25%; }
  .row .m4 {
    width: 33.33333333333333%; }
  .row .m5 {
    width: 41.66666666666667%; }
  .row .m6 {
    width: 50%; }
  .row .m7 {
    width: 58.33333333333333%; }
  .row .m8 {
    width: 66.66666666666667%; }
  .row .m9 {
    width: 75%; }
  .row .m10 {
    width: 83.33333333333333%; }
  .row .m11 {
    width: 91.66666666666667%; }
  .row .m12 {
    width: 100%; } }

@media only screen and (min-width: 993px) {
  /*.container {
    width: 80%;
  }*/
  .row .l1, .row .l2, .row .l3, .row .l4, .row .l5, .row .l6, .row .l7, .row .l8, .row .l9, .row .l10, .row .l11, .row .l12 {
    width: 8.333333333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .l2 {
    width: 16.66666666666667%; }
  .row .l3 {
    width: 25%; }
  .row .l4 {
    width: 33.33333333333333%; }
  .row .l5 {
    width: 41.66666666666667%; }
  .row .l6 {
    width: 50%; }
  .row .l7 {
    width: 58.33333333333333%; }
  .row .l8 {
    width: 66.66666666666667%; }
  .row .l9 {
    width: 75%; }
  .row .l10 {
    width: 83.33333333333333%; }
  .row .l11 {
    width: 91.66666666666667%; }
  .row .l12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

header {
  background-color: #fff; }
  header .menu-icon {
    width: 50px;
    display: none;
    float: right;
    color: #00262c; }

.header-logo {
  float: left;
  line-height: 100px; }
  .header-logo img {
    vertical-align: middle; }

nav {
  float: right;
  font-size: 15px; }
  nav li {
    position: relative; }
    nav li:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #49cdcd;
      transform: scale(0);
      transition: transform 0.5s; }
    nav li:hover {
      cursor: pointer;
      background-color: #f8f9fb;
      transition: color 2s ease-out; }
      nav li:hover:after {
        transform: scale(1); }
    nav li:hover a {
      color: #49cbcd;
      transition: color 0.5s ease-out; }
    nav li a {
      display: block;
      padding: 40px 28px;
      color: #484c55;
      transition: color 0.5s ease-out; }

.navbar-collapse {
  width: 100%; }
  .navbar-collapse ul {
    display: block; }
    .navbar-collapse ul li {
      display: block;
      float: none; }
      .navbar-collapse ul li a {
        padding: 5px 10px; }

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }

.slider-padding-top {
  padding-top: 100px; }

.slider {
  position: relative;
  background-color: #49cbcd; }
  .slider img {
    width: 100%;
    height: auto;
    opacity: .5; }
  .slider .slick-arrow {
    width: 50px;
    height: 50px;
    top: 53%;
    text-align: center;
    background-color: #fff;
    border-radius: 50%; }
  .slider .slick-prev {
    left: 25px;
    z-index: 10; }
    .slider .slick-prev:before {
      content: '\e804'; }
  .slider .slick-next {
    right: 25px; }
    .slider .slick-next:before {
      content: '\e805'; }
  .slider .slick-prev, .slider .slick-next {
    opacity: 0.7; }
    .slider .slick-prev:before, .slider .slick-next:before {
      font-family: 'fontello';
      display: inline-block;
      font-variant: normal;
      text-transform: none;
      font-size: 30px;
      color: #49cbcd; }
    .slider .slick-prev:focus, .slider .slick-next:focus {
      background-color: #fff;
      color: inherit;
      opacity: 0.7; }
    .slider .slick-prev:hover, .slider .slick-next:hover {
      opacity: 1;
      background-color: #fff;
      transition: all 0.5s ease-out; }
      .slider .slick-prev:hover:before, .slider .slick-next:hover:before {
        color: #49cbcd;
        transition: all 0.5s ease-out; }
  .slider .slider-description {
    position: absolute;
    top: 21%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
    .slider .slider-description .item-title {
      margin-bottom: 20px;
      font-family: 'Open-sans Semibold';
      font-size: 63px; }
    .slider .slider-description p {
      width: 37%;
      margin: 0 auto 62px;
      font-size: 23px; }
    .slider .slider-description .slider-item-button {
      font-family: 'Open-sans Semibold';
      font-size: 26px; }
  .slider .slider-item-button {
    display: inline-block;
    padding: 14px 40px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    transition: all 1s ease-out; }
    .slider .slider-item-button:hover {
      color: #207576;
      border-color: #207576;
      transition: all 1s ease-out; }

.team {
  padding-top: 93px;
  padding-bottom: 120px;
  text-align: center;
  color: #4e525d; }
  .team .team-title {
    margin-bottom: 127px;
    font-size: 42px; }
  .team .co-worker-foto {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    width: 201px;
    height: 201px;
    background-color: #eeeef0;
    border-radius: 50%; }
    .team .co-worker-foto:hover {
      cursor: pointer; }
      .team .co-worker-foto:hover:before {
        content: '\e803';
        font-family: 'fontello';
        display: inline-block;
        font-size: 41px;
        line-height: 201px;
        font-variant: normal;
        color: #f46d6d; }
  .team .co-worker-name {
    font-size: 22px; }
  .team .co-worker-about {
    margin-top: 29px; }

.tariff-plans {
  padding-top: 118px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #f1f1f1; }

.tariff-plans-item {
  background-color: #f8f9fb;
  border: 1px solid #ecf0f1; }
  .tariff-plans-item .item-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    color: #fff;
    background-color: #485460;
    transition: background-color 0.5s ease-out; }
  .tariff-plans-item .header-aqua {
    background-color: #49cbcd;
    transition: background-color 0.5s ease-out; }
  .tariff-plans-item .item-coast {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #485460; }
  .tariff-plans-item p {
    padding-top: 13px;
    padding-bottom: 13px;
    color: #8c9299;
    background-color: #fff;
    border-bottom: 1px solid #ecf0f1; }
  .tariff-plans-item .item-buy {
    display: inline-block;
    margin-top: 29px;
    margin-bottom: 29px;
    padding: 9px 50px;
    font-family: 'Open-sans Semibold';
    font-size: 17px;
    color: #fff;
    background-color: #8c9299;
    border-radius: 5px;
    transition: background-color 0.5s ease-out; }
    .tariff-plans-item .item-buy:hover {
      cursor: pointer;
      background-color: #49cbcd;
      transition: background-color 0.5s ease-out; }
    .tariff-plans-item .item-buy .tariff-hover {
      transition: background-color 0.5s ease-out; }
      .tariff-plans-item .item-buy .tariff-hover:hover {
        cursor: pointer;
        background-color: #49cbcd;
        transition: background-color 0.5s ease-out; }
