footer {
  padding-top: 5%;
  padding-bottom: 5%;
  background: url("footer-backgr.jpg") center no-repeat;
  background-size: cover; }
  footer form input, footer form textarea {
    padding: 15px 0 15px 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #c1c1c1; }
  footer form input, footer form textarea, footer form button {
    float: right;
    font-family: 'Open-sans Regular';
    border-radius: 5px; }
  footer form input {
    width: 48%; }
    footer form input:nth-child(2) {
      margin-right: 4%; }
  footer form textarea {
    width: 100%; }
  footer form button {
    padding: 15px 50px;
    font-size: 22px;
    color: #fff;
    background-color: #49cbcd;
    transition: all 0.5s ease-out; }
    footer form button:hover {
      cursor: pointer;
      color: #49cbcd;
      background-color: #fff;
      transition: all 0.5s ease-out; }

.footer-title {
  margin-bottom: 7%;
  text-align: center;
  font-size: 42px;
  color: #fff; }

.footer-contact {
  color: #909090; }
  .footer-contact h5 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff; }
  .footer-contact h5 + p {
    width: 80%; }

.footer-contact-tel, .footer-contact-mail {
  display: block;
  font-family: 'MyriadPro Regular';
  color: #bface2; }

.footer-social-net {
  margin-top: 35px;
  margin-bottom: 20px; }
  .footer-social-net .social-icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%; }
    .footer-social-net .social-icon a {
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: center; }
      .footer-social-net .social-icon a:before {
        font-family: 'fontello';
        display: inline-block;
        font-size: 20px;
        line-height: 45px;
        font-variant: normal;
        text-transform: none;
        color: #ffffff; }
  .footer-social-net .facebook {
    background-color: #3b5997; }
    .footer-social-net .facebook a:before {
      content: '\e802'; }
  .footer-social-net .twitter {
    background-color: #3ec2f3; }
    .footer-social-net .twitter a:before {
      content: '\e800'; }
  .footer-social-net .google {
    background-color: #e44c41; }
    .footer-social-net .google a:before {
      content: '\e801'; }

@charset "UTF-8";
* {
  /*Сброс стилей*/
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul li {
  list-style: none;
  display: inline-block;
  float: left; }

a {
  text-decoration: none; }

img {
  vertical-align: bottom;
  border: none; }

header, footer, section, article, nav {
  display: block; }

@font-face {
  font-family: 'Open-sans Regular';
  src: url("../fonts/OpenSans/opensans-regular.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open-sans Semibold';
  src: url("../fonts/OpenSans/opensans-semibold.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot") format("eot"), url("../fonts/fontello/fontello.woff2") format("woff2"), url("../fonts/fontello/fontello.woff") format("woff"), url("../fonts/fontello/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Open-sans Regular';
  font-size: 14px; }

/*---------------------------С------------------*/
.clearfix:after, .row:after {
  content: '';
  display: table;
  clear: both; }

.container {
  margin-left: auto;
  margin-right: auto; }

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem; }

.row .s1, .row .s2, .row .s3, .row .s4, .row .s5, .row .s6, .row .s7, .row .s8, .row .s9, .row .s10, .row .s11, .row .s12 {
  width: 8.333333333333333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .s2 {
  width: 16.66666666666667%; }

.row .s3 {
  width: 25%; }

.row .s4 {
  width: 33.33333333333333%; }

.row .s5 {
  width: 41.66666666666667%; }

.row .s6 {
  width: 50%; }

.row .s7 {
  width: 58.33333333333333%; }

.row .s8 {
  width: 66.66666666666667%; }

.row .s9 {
  width: 75%; }

.row .s10 {
  width: 83.33333333333333%; }

.row .s11 {
  width: 91.66666666666667%; }

.row .s12 {
  width: 100%; }

/*.col.xl1 {width: 8.333333333333333%;}
.col.xl2 {width: 16.66666666666667%;}
.col.xl3 {width: 25%;}
.col.xl4 {width: 33.33333333333333%;}
.col.xl5 {width: 41.66666666666667%;}
.col.xl6 {width: 50%;}
.col.xl7 {width: 58.33333333333333%;}
.col.xl8 {width: 66.66666666666667%;}
.col.xl9 {width: 75%;}
.col.xl10 {width: 83.33333333333333%;}
.col.xl11 {width: 91.66666666666667%;}
.col.xl12 {width: 100%;}*/
@media only screen and (min-width: 601px) {
  .container {
    width: 85%; }
  .row .m1, .row .m2, .row .m3, .row .m4, .row .m5, .row .m6, .row .m7, .row .m8, .row .m9, .row .m10, .row .m11, .row .m12 {
    width: 8.333333333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .m2 {
    width: 16.66666666666667%; }
  .row .m3 {
    width: 25%; }
  .row .m4 {
    width: 33.33333333333333%; }
  .row .m5 {
    width: 41.66666666666667%; }
  .row .m6 {
    width: 50%; }
  .row .m7 {
    width: 58.33333333333333%; }
  .row .m8 {
    width: 66.66666666666667%; }
  .row .m9 {
    width: 75%; }
  .row .m10 {
    width: 83.33333333333333%; }
  .row .m11 {
    width: 91.66666666666667%; }
  .row .m12 {
    width: 100%; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 80%; }
  .row .l1, .row .l2, .row .l3, .row .xl4, .row .l5, .row .l6, .row .l7, .row .l8, .row .l9, .row .l10, .row .l11, .row .l12 {
    width: 8.333333333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .l2 {
    width: 16.66666666666667%; }
  .row .l3 {
    width: 25%; }
  .row .xl4 {
    width: 33.33333333333333%; }
  .row .l5 {
    width: 41.66666666666667%; }
  .row .l6 {
    width: 50%; }
  .row .l7 {
    width: 58.33333333333333%; }
  .row .l8 {
    width: 66.66666666666667%; }
  .row .l9 {
    width: 75%; }
  .row .l10 {
    width: 83.33333333333333%; }
  .row .l11 {
    width: 91.66666666666667%; }
  .row .l12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10; }

.header-logo {
  float: left;
  line-height: 100px; }
  .header-logo img {
    vertical-align: middle; }

nav {
  float: right;
  font-size: 15px; }
  nav li {
    padding: 40px 20px; }
    nav li:hover {
      cursor: pointer;
      background-color: #f8f9fb;
      transition: color 2s ease-out; }
    nav li:hover a {
      color: #49cbcd;
      transition: color 0.5s ease-out; }
    nav li a {
      color: #484c55;
      transition: color 0.5s ease-out; }

.slider {
  padding-top: 100px;
  position: relative;
  background-color: #49cbcd; }
  .slider img {
    width: 100%;
    height: auto;
    opacity: .5; }
  .slider .slick-prev {
    left: 25px;
    z-index: 10; }
  .slider .slick-next {
    right: 25px; }
  .slider .slider-description {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
    .slider .slider-description .item-title {
      margin-bottom: 20px;
      font-family: 'Open-sans Semibold';
      font-size: 63px; }
    .slider .slider-description p {
      width: 50%;
      margin: 0 auto 50px;
      font-size: 23px; }
    .slider .slider-description .slider-item-button {
      font-family: 'Open-sans Semibold';
      font-size: 26px; }
  .slider .slider-item-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    transition: all 1s ease-out; }
    .slider .slider-item-button:hover {
      color: #207576;
      border-color: #207576;
      transition: all 1s ease-out; }

.team {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #4e525d; }
  .team .team-title {
    margin-bottom: 10%;
    font-size: 42px; }
  .team .co-worker-foto {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    width: 201px;
    height: 201px;
    background-color: #eeeef0;
    border-radius: 50%; }
  .team .co-worker-name {
    font-size: 22px; }
  .team .co-worker-about {
    margin-top: 5%; }

.tariff-plans {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #f1f1f1; }

.tariff-plans-item {
  background-color: #f8f9fb;
  border: 1px solid #ecf0f1; }
  .tariff-plans-item .item-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    color: #fff;
    background-color: #485460; }
  .tariff-plans-item .item-coast {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #485460; }
  .tariff-plans-item p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8c9299;
    background-color: #fff;
    border-bottom: 1px solid #ecf0f1; }
  .tariff-plans-item .item-buy {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 50px;
    font-family: 'Open-sans Semibold';
    font-size: 17px;
    color: #fff;
    background-color: #8c9299;
    border-radius: 5px;
    transition: background-color 0.5s ease-out; }
    .tariff-plans-item .item-buy:hover {
      cursor: pointer;
      background-color: #49cbcd;
      transition: background-color 0.5s ease-out; }
    .tariff-plans-item .item-buy .tariff-hover {
      transition: background-color 0.5s ease-out; }
      .tariff-plans-item .item-buy .tariff-hover:hover {
        cursor: pointer;
        background-color: #49cbcd;
        transition: background-color 0.5s ease-out; }
