$aquamarine-color: #49cbcd;
footer {
  padding-top: 90px;
  padding-bottom: 100px;
  background: url("footer-backgr.jpg") center no-repeat;
  background-size: cover;

  form {
    input, textarea {
      padding: 10px 0 10px 20px;
      margin-bottom: 30px;
      width: 100%;
      font-size: 16px;
      color: #4e525d;
      background-color: #fff;
      &:focus {
        box-shadow: inset 0 0 1px 1px $aquamarine-color;
      }
    }
    ::-webkit-input-placeholder {
      color: #c1c1c1;
    }
    :-moz-placeholder {
      color: #c1c1c1;
    }
    ::-moz-placeholder {
      color: #c1c1c1;
    }
    textarea, button{
      float: right;
    }
    input, textarea, button {
      display: block;
      font-family: 'Open-sans Regular';
      border-radius: 5px;
    }
    button {
      padding: 10px 60px;
      font-size: 22px;
      color: #fff;
      background-color: $aquamarine-color;

      transition: all 0.5s ease-out;
      &:hover {
        cursor: pointer;
        color: $aquamarine-color;
        background-color: #fff;
        transition: all 0.5s ease-out;
      }
    }
    .form-item {
      position: relative;
    }
    .has-error {
      input, textarea {
        box-shadow: inset 0 0 1px 1px #9c1212;
      }
    }
    .form-icon {
      position: absolute;
      right: 10px;
      top: 0;
    }
    .form-icon:before {
      font-family: 'fontello';
      display: inline-block;

      font-size: 20px;
      line-height: 42px;
      font-variant: normal;
    }
    .error:before {
      content: '\f12a';
      color: #9c1212;
    }
  }
}
.footer-title {
  margin-bottom: 100px;

  text-align: center;
  font-size: 42px;
  color: #fff;
}
.footer-contact {
  h5 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff;
  }
  h5+p {
    width: 80%;
  }
  color: #909090;
}
address, .footer-contact-tel{
  font-family: 'MyriadPro Regular';
  color: #bface2;
}
address {
  span {
    display: block;
  }
  .footer-contact-tel {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.footer-social-net {
  margin-top: 41px;
  margin-bottom: 17px;
  .social-icon {
    width: 42px;
    height: 42px;
    margin-right: 15px;

    border-radius: 50%;

    a {
      width: 100%;
      margin: 0 auto;
      display: block;

      text-align: center;
      &:before {
        font-family: 'fontello';
        display: inline-block;

        font-size: 20px;
        line-height: 45px;
        font-variant: normal;
        color: #ffffff;
      }
    }
  }

  .facebook {
    background-color: #3b5997;
    a:before {
      content: '\e802';
    }
  }
  .twitter {
    background-color: #3ec2f3;
    a:before {
      content: '\e800';
    }
  }
  .google {
    background-color: #e44c41;
    a:before {
      content: '\e801';
    }
  }
}