$aquamarine-color: #49cbcd;
.slider {
  padding-top: 100px;
  position: relative;
  background-color: $aquamarine-color;

  img {
    width: 100%;
    height: auto;

    opacity: .5;
  }
  .slick-prev {
    left: 25px;
    z-index: 10;
  }
  .slick-next {
    right: 25px;
  }

  .slider-description {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    bottom: 0;

    width: 75%;
    height: 50%;
    margin: 0 auto;

    text-align: center;
    color: #fff;

    .item-title {
      margin-bottom: 20px;

      font-family: 'Open-sans Semibold';
      font-size: 63px;
    }
    p {
      width: 50%;
      margin: 0 auto 50px;
      font-size: 23px;
    }
    .slider-item-button {
      font-family: 'Open-sans Semibold';
      font-size: 26px;
    }
  }
  .slider-item-button {
    display: inline-block;
    padding: 10px 20px;

    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff;

    transition: all 1s ease-out;
    &:hover {
      color: darken($aquamarine-color,25%);
      border-color: darken($aquamarine-color,25%);
      //background-color: #fff;

      transition: all 1s ease-out;
    }
  }
}

.team {
  padding-top: 5%;
  padding-bottom: 5%;

  text-align: center;
  color: #4e525d;
  .team-title {
    margin-bottom: 10%;
    font-size: 42px;
  }
  .co-worker-foto {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;

    width: 201px;
    height: 201px;

    background-color: #eeeef0;
    border-radius: 50%;
  }
  .co-worker-name {
    font-size: 22px;
  }
  .co-worker-profession {
    //font-size: 14px;
  }
  .co-worker-about {
    margin-top: 5%;
  }
}

.tariff-plans {
  padding-top: 5%;
  padding-bottom: 5%;

  text-align: center;
  background-color: #f1f1f1;
}
.tariff-plans-item {
  background-color: #f8f9fb;
  border: 1px solid #ecf0f1;
  .item-header {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 26px;
    color: #fff;
    background-color: #485460;
  }
  .item-coast {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 20px;
    color: #485460;
  }
  p {
    padding-top: 10px;
    padding-bottom: 10px;

    color: #8c9299;
    background-color: #fff;
    border-bottom: 1px solid #ecf0f1;
  }
  .item-buy {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 50px;

    font-family: 'Open-sans Semibold';
    font-size: 17px;

    color: #fff;
    background-color: #8c9299;
    border-radius: 5px;
    transition:  background-color 0.5s ease-out;
    &:hover {
      cursor: pointer;
      background-color: $aquamarine-color;
      transition:  background-color 0.5s ease-out;
    }
    .tariff-hover {
      transition:  background-color 0.5s ease-out;
      &:hover {
        cursor: pointer;
        background-color: $aquamarine-color;
        transition:  background-color 0.5s ease-out;
      }
    }
  }
}



